<footer>
	<div class="content-padding">
		<div class="footer-content">
			<p>Copyright &copy; 2016-2017 Nathan Yang</p>

			<div class="social-media-icons">
				<a target="_blank" href="https://www.linkedin.com/in/thenathanyang"><i class="fa fa-linkedin-square"></i></a>
				<a target="_blank" href="https://github.com/thenathanyang"><i class="fa fa-github" id="github-icon"></i></a>
				<a target="_blank" href="https://www.instagram.com/thenathanyang/"><i class="fa fa-instagram" id="instagram-icon"></i></a>
			</div>
		</div>
	</div>
</footer>