<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<div class="content-padding clearfix">
			<div class="poster-wrapper">
				<img src="/images/tree.JPG" class="img-responsive">
			</div>

			<div class="description-wrapper">
				<div class="description">
					<p>For as long as I can remember, I have always been creating and building things. An enthusiasm for building things brews within me. It first started with Lego spacecraft models and robots, and then it moved on to computers, programs, and communities. As a result of my passion for building things, I am now in my second year of studying computer science at UCLA.</p>

					<p>The social side of programming is who I am. Having been a co-founder and community manager of a small gaming startup and now currently the president of Hacker Fund's LA chapter (an organization that provides resources for computer education), I'm always looking for new ideas to work on that can change how people think and interact with others. My experiences with these organizations combined with my enjoyment for creating things has translated into my interest in software engineering and contributing to interesting and impactful work.</p>

					<p>In addition to software engineering and building things, I enjoy keeping up with current affairs, dragon dancing, and playing tennis, ulitmate frisbee, and the violin. I performed the dragon dance in the annual San Francisco Chinese New Year Parade from 2012 to 2015 and participated in multiple Model United Nations conferences during my time in high school.</p>

					<p>If you are interested in learning more about me, feel free to check out my work and <a target="_blank" href="/files/nathanyang-resume.pdf">resume</a> or <a href="/contact">contact</a> me!</p>
				</div>
			</div>
		</div>


		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
</html>
