<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<div class="content-padding clearfix">
			<div class="poster-wrapper">
				<img src="/images/tree.JPG" class="img-responsive">
			</div>

			<div class="description-wrapper">
				<div class="description">
					<p>Hello! My name is Nathan!</p>

					<p>Adventurer. Foodie. Optimist. All-Californian. Bruin.</p>

					<p>The social side of programming is who I am. I'm intrigued by ideas and work that can change how people think and interact with others. I'm currently a Mentor Director at Hacker Fund, an organization aimed to inspire the next generation of technologists, and a committee officer for UCLA ACM Hack, a student organization focused on strengthening the tech and hacking community at UCLA. My experiences from my extracurricular activities combined with my enjoyment for creating things has translated into my interest in software engineering and contributing to interesting and impactful work.</p>

					<p>During the summer of 2017, I was fortunate enough to join the team at <a target="_blank" href="http://meetotto.com/">Otto</a>, contribute to their Cloud platform and Sharing feature, and be a part of the first product launch team. More about what I did at Otto can be found in my <a target="_blank" href="https://medium.com/@nathan_yang/the-otto-biography-of-an-intern-79ea7d118370">Medium</a> story about my internship.

					<p>In addition to computer science, I enjoy keeping up with current affairs, dancing, and playing tennis, ulitmate frisbee, and the violin.</p>

					<p>If you are interested in learning more about me, feel free to check out my work and <a target="_blank" href="/files/nathanyang-resume.pdf">resume</a> or <a href="/contact">contact</a> me!</p>
				</div>
			</div>
		</div>


		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
</html>
