<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<div class="content-padding clearfix">
			<div class="description-wrapper">
				<div class="description">
					<p>This page is still under construction.</p>
					<p>If you're looking to contact me, feel free to reach out to me on <a target="_blank" href="https://www.linkedin.com/in/thenathanyang/">LinkedIn</a> or send me an email at <a href= "mailto:nathanyang@engineering.ucla.edu">nathanyang@engineering.ucla.edu</a>.</p>

					<p>Check out my <a href="https://medium.com/@nathan_yang">Medium</a> page or connect with me on social media!</p>
				</div>
			</div>

			<div class="poster-wrapper">
				<div class="social-buttons">
					<a target="_blank" class="social-button linkedin" href="https://www.linkedin.com/in/thenathanyang"><i class="fa fa-linkedin"></i></a>
					<a target="_blank" class="social-button github" href="https://github.com/thenathanyang"><i class="fa fa-github"></i></a>
					<a target="_blank" class="social-button instagram" href="https://www.instagram.com/thenathanyang/"><i class="fa fa-instagram"></i></a>
					<a class="social-button mail" href="mailto:nathanyang@engineering.ucla.edu"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
			
		</div>

		

		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
</html>
