<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<div class="content-padding clearfix">
			<div class="description-wrapper">
				<div class="description">
					<p>This page is still under construction.</p>
					<p>If you're looking to contact me, feel free to send me an email at <a href= "mailto:nyang@hacker.fund">nyang@hacker.fund</a>.</p>

					<p>Or connect with me on social media!</p>

					<div class="social-buttons">
						<a class="social-button facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="social-button twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="social-button google" href="#"><i class="fa fa-google"></i></a>
						<a class="social-button skype" href="#"><i class="fa fa-skype"></i></a>
					</div>

				</div>
			</div>
		</div>

		

		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
</html>
