<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<div class="content-padding clearfix">
			<div class="description-wrapper">
				<div class="description">
					<p>This page is still under construction.</p>
					<p>If you're looking to contact me, feel free to send me an email at <a href= "mailto:nyang@hacker.fund">nyang@hacker.fund</a>.</p>
				</div>
			</div>
		</div>


		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
</html>
