<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<!-- <h1>Nathan Yang</h1>
		<p>President of Hacker Fund's LA Mentor Chapter</p>
		<p>Computer Science Student at UCLA</p> -->

		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<p style="text-align:center; font-size: 15px; padding-top: 30px;">Please note that this website is still under contruction.</p>
		<p style="text-align:center; font-size: 15px;">Download my <a href="/files/nathanyang-resume.pdf" download>resume</a>.</p>

		<div id="posters-wrapper" class="content-padding clearfix">
			<% for (var i = 0; i < work.length; i++) { %>
				<div class="poster">
					<img src="/images/<%= work[i].poster %>" class="img-responsive">
					<div class="poster-info-overlay">
						<h3><%= work[i].title %></h3>
						<h4>View More<i class="fa fa-arrow-right"></i></h4>
					</div>
				</div>
			<% } %>
		</div>

		<% include partials/scripts.ejs %>
	</body>
</html>
