<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<!-- <h1>Nathan Yang</h1>
		<p>President of Hacker Fund's LA Mentor Chapter</p>
		<p>Computer Science Student at UCLA</p> -->

		<% include partials/header.ejs %>

		<div id="banner-image">
			<h1 id="banner-title"><%= title %></h1>
		</div>

		<p style="text-align:center; font-size: 15px; padding-top: 30px;">Please note that this website is still under contruction.</p>
		<p style="text-align:center; font-size: 15px; margin-bottom: -25px;">Feel free to learn more <a href="/about">about me</a>, download my <a href="/files/nathanyang-resume.pdf" download>resume</a>, visit my <a target="_blank" href="https://github.com/thenathanyang">GitHub</a>, or <a href="/contact">connect</a> with me.</p>

		<div id="posters-wrapper" class="content-padding clearfix">
			<% for (var i = 0; i < workArr.length; i++) { %>
				<div class="poster">
					<a href="/work/<%= workArr[i].url %>">
						<img src="/images/<%= workArr[i].poster %>" class="img-responsive">
						<div class="poster-info-overlay">
							<h3><%= workArr[i].title %></h3>
							<h4>View More<i class="fa fa-arrow-right"></i></h4>
						</div>
					</a>
				</div>
			<% } %>
		</div>

		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
</html>
